<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>TNN club</title>
</head>
<body>
    
    <video class="background-video" autoplay muted loop >
        <source src="videos/98916-650523277.mp4" type="video/mp4">
        
    </video>

    <div class="content">
        <div id="logo">
            <img src="images/logo.png" style="height: 20%;">
        </div>
        <div id="title">
            The Official Prompt Engineering club of VIT-AP University
        </div>
        <a href="/club" class="explore-button">Explore Our Club</a>
    </div>

</body>
</html>
