<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quizOptions</title>
    <link rel="stylesheet" href="styles/dashboard.css">
  <link rel="stylesheet" href="styles/nav.css">
</head>
<body>
    <%- include("partials/dashboard-header") %>

    <br>
    <h1 style="text-align: center;">Select Your Quiz</h1>

    <main class="dashboard-container">
        

        <div class="quiz-card">
            <div class="quiz-image">
              <img src="images/quiz.png" alt="Quiz Theme Image">
            </div>
            <div class="quiz-details">
              <h2 class="quiz-title">TNN AI</h2>
              <p class="quiz-info">Number of Questions: <strong>10</strong></p>
              <p class="quiz-info">Time: <strong>15 minutes</strong></p>
              <button class="quiz-start-btn">Start Quiz</button>
            </div>
          </div>
          


    </main>




    <%- include("partials/footer") %>
</body>
</html>