<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TNNQuiz</title>
  <link rel="stylesheet" href="styles/quiz.css">
  <link rel="stylesheet" href="styles/nav.css">
</head>
<body>

 <!-- Content Wrapper to contain everything except the footer -->
 <div class="content-wrapper">
  
    <!-- Include Header -->
    <%- include('partials/header') %>

    <!-- Main Content -->
    <main>
      <section class="hero">
        <h1>Welcome to TNN QuizMaster!</h1>
        <p>Your ultimate destination for quizzes and challenges.</p>
      </section>
    </main>

  </div> <!-- End of Content Wrapper -->

  <!-- Include Footer -->
  <%- include('partials/footer') %>

</body>
</html>